<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="wizard-container">
					<div class="card wizard-card" data-color="green" id="wizardProfile">
						<form class="form-horizontal" id="routeForm"
							enctype="multipart/form-data">
							<div class="wizard-header"></div>
							<div class="wizard-navigation">
								<ul>
									<li><a href="#basic" data-toggle="tab">基础配置</a></li>
									<li><a href="#rest" data-toggle="tab">SpringCloud服务发现</a></li>
									<li><a href="#rpcsoa" data-toggle="tab">Rpc服务发现</a></li>
									<li><a href="#grpc" data-toggle="tab">gRpc</a></li>
									<li><a href="#dubbo" data-toggle="tab">dubbo</a></li>
								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane" id="basic">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="fromPath">源路径</label>
												<div class="col-sm-6">
													<input class="form-control" id="fromPath" name="fromPath"
														type="text" placeholder="请求源URL路径"
														th:value="${route.fromPath}" />
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="rpc">是否RPC</label>
												<div class="col-sm-6">
													<select id="rpc" name="rpc" th:value="${route.rpc}"
														class="form-control">
														<option value="0" th:selected="${route.rpc ==false}">否</option>
														<option value="1" th:selected="${route.rpc ==true}">是</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="toHostport">目标地址</label>
												<div class="col-sm-6">
													<input class="form-control" id="toHostport"
														name="toHostport" type="text" placeholder="目标IP和端口"
														th:value="${route.toHostport}" />
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="toPath">目标路径</label>
												<div class="col-sm-6">
													<input id="toPath" name="toPath" class="form-control"
														type="text" placeholder="目标URL路径"
														th:value="${route.toPath}" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="rest">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="serviceId">服务ID</label>
												<div class="col-sm-6">
													<input class="form-control" id="serviceId" name="serviceId"
														type="text" placeholder="SpringCloud服务ID"
														th:value="${route.serviceId}" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="rpcsoa">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="serviceName">服务名</label>
												<div class="col-sm-6">
													<input class="form-control" id="serviceName"
														name="serviceName" type="text" placeholder="服务接口名"
														th:value="${route.serviceName}" />
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="methodName">方法名</label>
												<div class="col-sm-6">
													<input class="form-control" id="methodName"
														name="methodName" type="text" placeholder="服务方法名"
														th:value="${route.methodName}" />
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="serviceGroup">组别</label>
												<div class="col-sm-6">
													<input class="form-control" id="serviceGroup"
														name="serviceGroup" type="text" placeholder="服务Group"
														th:value="${route.serviceGroup}" />
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="serviceVersion">版本</label>
												<div class="col-sm-6">
													<input class="form-control" id="serviceVersion"
														name="serviceVersion" type="text" placeholder="服务Version"
														th:value="${route.serviceVersion}" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="grpc">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="zipFile">gRpc
													Proto定义</label>
												<div class="col-sm-6">
													<span id="zipfilename" style="vertical-align: left">未上传文件</span>
													<div class="file-container"
														style="display: inline-block; position: relative; overflow: hidden; vertical-align: middle">
														<button class="btn btn-success fileinput-button"
															type="button">上传</button>
														<input type="file" id="zipFile" name="zipFile"
															onchange="loadZipFile(this.files[0])"
															style="position: absolute; top: 0; left: 0; font-size: 34px; opacity: 0">
													</div>
													<span class="help-block">(包括服务定义、入参、出参的proto文件,以zip包的方式提交)</span>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="serviceFileName">服务文件名</label>
												<div class="col-sm-6">
													<input class="form-control" id="serviceFileName"
														name="serviceFileName" type="text"
														placeholder="指定gRpc的服务定义文件名"
														th:value="${route.serviceFileName}" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="dubbo">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label class="col-sm-3 control-label" for="inputParam">dubbo入参类名</label>
												<div class="col-sm-6">
													<input class="form-control" id="inputParam"
														name="inputParam" type="text" placeholder="dubbo入参全类名"
														th:value="${route.inputParam}" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="wizard-footer">
								<div class="pull-right">
									<input type='button'
										class='btn btn-next btn-fill btn-success btn-wd' name='next'
										value='Next' /> <input type='submit'
										class='btn btn-finish btn-fill btn-success btn-wd'
										name='finish' value='Finish' />
								</div>
								<div class="pull-left">
									<input type='button'
										class='btn btn-previous btn-fill btn-default btn-wd'
										name='previous' value='Previous' />
								</div>
								<div class="clearfix"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script>
		function loadZipFile(file) {
			$("#zipfilename").html(file.name);
		}
		function loadInputFile(file) {
			$("#inputname").html(file.name);
		}
		function loadOutputFile(file) {
			$("#outputname").html(file.name);
		}
	</script>
	<script type="text/javascript" src="/js/appjs/filter/route/edit.js"></script>
</body>
</html>
