<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.tesla.filter.dao.FilterRuleDao">

	<select id="get" resultType="io.github.tesla.filter.domain.FilterRuleDO">
		select
		`id`,`filter_type`,`rule`,`url`
		from
		gateway_filterrule
		id = #{value}
	</select>


	<select id="getByFilterType" resultType="io.github.tesla.filter.domain.FilterRuleDO">
		select
		`id`,`filter_type`,`rule`,`url`
		from gateway_filterrule
		where filter_type =
		#{filterType}
	</select>

	<select id="list" resultType="io.github.tesla.filter.domain.FilterRuleDO">
		select
		`id`,`filter_type`,`rule`,`url`
		from gateway_filterrule
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="filterType != null and filterType != ''"> and filter_type = #{filterType} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from gateway_filterrule
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="filterType != null and filterType != ''"> and filter_type = #{filterType} </if>
		</where>
	</select>

	<insert id="save" parameterType="io.github.tesla.filter.domain.FilterRuleDO"
		useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into gateway_filterrule
		(
		`filter_type`,
		`rule`,
		`url`,
		`gmt_create`,
		`gmt_modified`
		)
		values
		(
		#{filterType},
		#{rule},
		#{url},
		sysdate(),
		sysdate()
		)
	</insert>

	<update id="update" parameterType="io.github.tesla.filter.domain.FilterRuleDO">
		update gateway_filterrule
		<set>
			<if test="filterType != null and filterType != ''"> and filter_type = #{filterType} </if>
			<if test="rule != null and rule != ''"> and rule = #{rule} </if>
			<if test="url != null and url != ''"> and url = #{url} </if>
			`gmt_modified`=sysdate()
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from gateway_filterrule where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from gateway_filterrule where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
</mapper>