<section id="widget-grid" class="">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-deletebutton="false">
				<header>
					<h2>路由规则添加</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body">
						<div class="row">
							<div class="jarviswidget" data-widget-editbutton="true" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
								<header role="heading">
									<ul class="nav nav-tabs pull-left in">
										<li class="active">
											<a data-toggle="tab" href="#URLParamHttpRequestFilter" aria-expanded="true">
												<i class="fa fa-lg fa-arrow-circle-o-down"></i>
												<span class="hidden-mobile hidden-tablet">URL参数黑名单</span>
											</a>
										</li>
										<li class="">
											<a data-toggle="tab" href="#BlackCookieHttpRequestFilter" aria-expanded="false">
												<i class="fa fa-lg fa-arrow-circle-o-down"></i>
												<span class="hidden-mobile hidden-tablet">Cookie黑名单</span>
											</a>
										</li>
										<li class="">
											<a data-toggle="tab" href="#BlackUaHttpRequestFilter" aria-expanded="false">
												<i class="fa fa-lg fa-arrow-circle-o-down"></i>
												<span class="hidden-mobile hidden-tablet">User-Agent黑名单</span>
											</a>
										</li>
										<li class="">
											<a data-toggle="tab" href="#BlackURLHttpRequestFilter" aria-expanded="false">
												<i class="fa fa-lg fa-arrow-circle-o-down"></i>
												<span class="hidden-mobile hidden-tablet">URL黑名单</span>
											</a>
										</li>
										<li class="">
											<a data-toggle="tab" href="#BlackIpHttpRequesFilter" aria-expanded="false">
												<i class="fa fa-lg fa-arrow-circle-o-down"></i>
												<span class="hidden-mobile hidden-tablet">IP黑名单</span>
											</a>
										</li>
										<li class="">
											<a data-toggle="tab" href="#SecurityScannerHttpRequestFilter" aria-expanded="false">
												<i class="fa fa-lg fa-arrow-circle-o-down"></i>
												<span class="hidden-mobile hidden-tablet">防爬</span>
											</a>
										</li>
										<li class="">
											<a data-toggle="tab" href="#RateLimitHttpRequestFilter" aria-expanded="false">
												<i class="fa fa-lg fa-arrow-circle-o-down"></i>
												<span class="hidden-mobile hidden-tablet">限流</span>
											</a>
										</li>
									</ul>
								</header>
								<div role="content">
									<div class="jarviswidget-editbox"></div>
									<div class="widget-body">
										<div class="tab-content">
											<div class="tab-pane active" id="URLParamHttpRequestFilter">
												<div class="tabbable tabs-below">
													<form method="post" id="ruleForm_urlparam" class="smart-form">
														<fieldset>
															<div class="row">
																<section class="col col-10">
																	<label class="label">策略类型：</label>
																	<label class="input">
																		<input name="filterType" class="form-control" type="text" value="URLParamHttpRequestFilter" readonly>
																	</label>
																</section>
															</div>
															<div class="row">
																<section class="col col-10">
																	<label class="label">内容：</label>
																	<label class="textarea textarea-resizable">
																		<textarea name="rule" rows="5" class="custom-scroll" placeholder="URL参数黑名单正则表达式"></textarea>
																	</label>
																</section>
															</div>
														</fieldset>
														<footer>
															<button type="button" onclick="goback()" class="btn btn-primary">返回</button>
															<button type="button" id="submit_urlparam" class="btn btn-primary">提交</button>
														</footer>
													</form>
												</div>
											</div>
											<div class="tab-pane" id="BlackCookieHttpRequestFilter">
												<form method="post" id="ruleForm_blackcookie" class="smart-form">
													<fieldset>
														<div class="row">
															<section class="col col-10">
																<label class="label">策略类型：</label>
																<label class="input">
																	<input name="filterType" class="form-control" type="text" value="BlackCookieHttpRequestFilter" readonly>
																</label>
															</section>
														</div>
														<div class="row">
															<section class="col col-10">
																<label class="label">内容：</label>
																<label class="textarea textarea-resizable">
																	<textarea name="rule" rows="5" class="custom-scroll" placeholder="Cookie黑名单正则表达式"></textarea>
																</label>
															</section>
														</div>
													</fieldset>
													<footer>
														<button type="button" onclick="goback()" class="btn btn-primary">返回</button>
														<button type="button" id="submit_blackcookie" class="btn btn-primary">提交</button>
													</footer>
												</form>
											</div>
											<div class="tab-pane" id="BlackUaHttpRequestFilter">
												<form method="post" id="ruleForm_blackua" class="smart-form">
													<fieldset>
														<div class="row">
															<section class="col col-10">
																<label class="label">策略类型：</label>
																<label class="input">
																	<input name="filterType" class="form-control" type="text" value="BlackUaHttpRequestFilter" readonly>
																</label>
															</section>
														</div>
														<div class="row">
															<section class="col col-10">
																<label class="label">内容：</label>
																<label class="textarea textarea-resizable">
																	<textarea name="rule" rows="5" class="custom-scroll" placeholder="UA黑名单正则表达式"></textarea>
																</label>
															</section>
														</div>
													</fieldset>
													<footer>
														<button type="button" onclick="goback()" class="btn btn-primary">返回</button>
														<button type="button" id="submit_blackua" class="btn btn-primary">提交</button>
													</footer>
												</form>
											</div>
											<div class="tab-pane" id="BlackURLHttpRequestFilter">
												<form method="post" id="ruleForm_blackurl" class="smart-form">
													<fieldset>
														<div class="row">
															<section class="col col-10">
																<label class="label">策略类型：</label>
																<label class="input">
																	<input name="filterType" class="form-control" type="text" value="BlackURLHttpRequestFilter" readonly>
																</label>
															</section>
														</div>
														<div class="row">
															<section class="col col-10">
																<label class="label">内容：</label>
																<label class="textarea textarea-resizable">
																	<textarea name="rule" rows="5" class="custom-scroll" placeholder="URL黑名单正则表达式"></textarea>
																</label>
															</section>
														</div>
													</fieldset>
													<footer>
														<button type="button" onclick="goback()" class="btn btn-primary">返回</button>
														<button type="button" id="submit_blackurl" class="btn btn-primary">提交</button>
													</footer>
												</form>
											</div>
											<div class="tab-pane" id="BlackIpHttpRequesFilter">
												<form method="post" id="ruleForm_blackip" class="smart-form">
													<fieldset>
														<div class="row">
															<section class="col col-10">
																<label class="label">策略类型：</label>
																<label class="input">
																	<input name="filterType" class="form-control" type="text" value="BlackIpHttpRequesFilter" readonly>
																</label>
															</section>
														</div>
														<div class="row">
															<section class="col col-10">
																<label class="label">内容：</label>
																<label class="textarea textarea-resizable">
																	<textarea name="rule" rows="5" class="custom-scroll" placeholder="IP黑名单正则表达式"></textarea>
																</label>
															</section>
														</div>
													</fieldset>
													<footer>
														<button type="button" onclick="goback()" class="btn btn-primary">返回</button>
														<button type="button" id="submit_blackip" class="btn btn-primary">提交</button>
													</footer>
												</form>
											</div>
											<div class="tab-pane" id="SecurityScannerHttpRequestFilter">
												<form method="post" id="ruleForm_scanner" class="smart-form">
													<fieldset>
														<div class="row">
															<section class="col col-10">
																<label class="label">策略类型：</label>
																<label class="input">
																	<input name="filterType" class="form-control" type="text" value="SecurityScannerHttpRequestFilter" readonly>
																</label>
															</section>
														</div>
														<div class="row">
															<section class="col col-10">
																<label class="label">内容：</label>
																<label class="textarea textarea-resizable">
																	<textarea name="rule" rows="5" class="custom-scroll" placeholder="扫描黑名单正则表达式"></textarea>
																</label>
															</section>
														</div>
													</fieldset>
													<footer>
														<button type="button" onclick="goback()" class="btn btn-primary">返回</button>
														<button type="button" id="submit_scanner" class="btn btn-primary">提交</button>
													</footer>
												</form>
											</div>
											<div class="tab-pane" id="RateLimitHttpRequestFilter">
												<form method="post" id="ruleForm_ratelimit" class="smart-form">
													<fieldset>
														<div class="row">
															<section class="col col-10">
																<label class="label">策略类型：</label>
																<label class="input">
																	<input name="filterType" class="form-control" type="text" value="RateLimitHttpRequestFilter" readonly>
																</label>
															</section>
														</div>
														<div class="row">
															<section class="col col-10">
																<label class="label">URL：</label>
																<label class="input">
																	<input name="url" class="form-control" type="text" placeholder="限流URL">
																</label>
															</section>
														</div>
														<div class="row">
															<section class="col col-10">
																<label class="label">内容：</label>
																<label class="input">
																	<input name="rule" class="form-control" type="number" placeholder="流量大小">
																</label>
															</section>
														</div>
													</fieldset>
													<footer>
														<button type="button" onclick="goback()" class="btn btn-primary">返回</button>
														<button type="button" id="submit_ratelimit" class="btn btn-primary">提交</button>
													</footer>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<script type="text/javascript" src="/js/appjs/gateway/filter/add.js"></script>
<script type="text/javascript">
  function goback() {
    loadURL("filter/rule", $('#content'));
  }
</script>

